table,
button,
select,
input {
    font-family: Calibri, Arial, sans-serif;
    font-size: 18px;
}

td {
    padding-right: 15px;
    white-space: nowrap;
}

.info {
    display: inline-block;
    color: dimgray;
    text-decoration: none;
}

.info:hover {
    transform: translate(0px, 0px);
    font-weight: bold;
    cursor: pointer;
}

.tooltip {
    color: dimgray;
    background: ivory;
    font-style: italic;
    font-weight: normal;
    white-space: normal;
    border: 1px solid;
    border-radius: 4px;
    width: 250;
    position: absolute;
    top: -100%;
    left: 10px;
    padding: 5px;
}